.DS_Store
.idea/
Readme.txt
USB_PORT.properties
jACS.iml
out/
src/.DS_Store
src/isel/.DS_Store
src/isel/leic/.DS_Store
src/isel/leic/lic/.DS_Store
isel/leic/lic/g2/.DS_Store
isel/leic/lic/g2/Keyboard/.DS_Store
usbport.jar
users.txt
log.txt